* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 12px;
  @media (min-width: 640px) {
    font-size: 14px;
  }
  @media (min-width: 720px) {
    font-size: 16px;
  }
}
body {
  background:
    linear-gradient(148deg, #BDF9D33F, #B2F7CB7F),
    repeating-linear-gradient(122deg, transparent, transparent 2px, #005F2B0F 2px, #005F2B0F 3px);
  min-width: 42rem;
}
a {
  text-decoration: none;
}
.center {
  margin: auto;
  max-width: 72rem;
}
