.container {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
  --font-mono: "Noto Sans Mono", "Consolas", "Courier New", Courier, monospace;
  --font-hk: Cantarell, "Noto Sans CJK HK", "Noto Sans HK", var(--font-sans);
  --font-ja: Cantarell, "Noto Sans CJK JP", "Noto Sans JP", var(--font-sans);
  font-family: var(--font-hk);
  [lang="ja"] {
    font-family: var(--font-ja);
  }
}
