.header {
  background-color: #269561;
  box-shadow: 0 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.brand {
  padding: 0.5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  color: white;
  letter-spacing: 0;
  transition: 150ms opacity;
  &:hover, &:focus {
    opacity: 0.9;
  }
}
.brand-logo {
  margin-right: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.brand-title-zh {
  font-size: 1.5rem;
  line-height: 2.375rem;
}
.brand-title-en {
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: var(--font-bold);
}
